<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Yozora</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>ログインして星いな～</h1>
        </header>

        <main>
            <p th:if="${message}" class="message" th:text="${message}"></p>

            <div id="form-area">
                <form th:action="@{/login}" method="post">

                    <div class="form-center">
                        <label for="email" class="disp-block">メールアドレス</label>
                        <input id="email" type="text" name="username" placeholder="star-4649@yozora.com">
                    </div>

                    <div class="form-row">
                        <label for="password" class="disp-block">パスワード</label>
                        <input id="password" type="password" name="password"
                            placeholder="パスワードは半角英数字記号のみの8文字以上で入力してください">
                    </div>

                    <div th:if="${param.error}" class="error">
                        メールアドレスまたはパスワードが違います
                    </div>


                    <div class="form-row">
                        <input type="submit" value="ログイン" class="btn">
                    </div>

                </form>
            </div>
        </main>

        <a th:href="@{/top}">ゲストログインはこちら</a>
        <a th:href="@{/userRegist}">新規登録はこちら</a>
        <a th:href="@{/}">パスワードを忘れた方はこちら</a>

    </div>
</body>

</html>