<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>パスワード変更</title>
    <link rel="stylesheet" th:href="@{/css/password.css}">
    <script th:src="@{/js/post.js}" defer></script>
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>パスワード変更して星いな～</h1>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/password/edit}" th:object="${passwordEditForm}" method="post">

                    <div class="form-center">
                        <label for="currentPassword" class="disp-block">現在のパスワード</label>
                        <input type="password" id="currentPassword" th:field="*{currentPassword}">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
                            class="error"></span>
                    </div>


                    <div class="form-center">
                        <label for="newPassword" class="disp-block">新しいパスワード</label>
                        <input type="password" id="newPassword" th:field="*{newPassword}">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                            class="error"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="変更" class="btn">
                    </div>

                </form>

                <!-- 戻るボタン -->
                <form th:action="@{/userEdit}" method="post" class="form-btn">
                    <button type="submit" class="back-btn">戻る</button>
                </form>

            </div>
        </main>

        <a th:href="@{/password/reset}">パスワードを忘れた方はこちら</a>

    </div>
</body>

</html>