<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>パスワード変更</title>
    <link rel="stylesheet" th:href="@{/css/user_edit.css}">
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>パスワード変更して星いな～</h1>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/password_edit}" th:object="${passwordEditForm}" method="post">

                    <div class="form-center">
                        <label for="currentPassword" class="disp-block">現在のパスワード</label>
                        <input type="password" id="currentPassword" th:field="*{currentPassword}"
                            placeholder="現在のパスワード" />
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
                            class="errors"></span>
                    </div>


                    <div class="form-center">
                        <label for="newPassword" class="disp-block">新しいパスワード</label>
                        <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="新しいパスワード">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                            class="errors"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="変更" class="btn">
                    </div>
                    <div class="form-center">
                        <span th:text="${error}" class="errors"></span>
                    </div>

                    <div class="form-center">
                        <span th:text="${error}" class="errors"></span>
                        <span th:text="${message}" class="message"></span>
                    </div>
                </form>

                <span id="error-msg" th:data-error="${error}" style="display:none;"></span>

                <!-- 戻るボタン -->
                <form th:action="@{/back}" method="post" class="form-btn">
                    <input type="hidden" id="ret" name="ret" value="">
                    <button type="submit" class="back-btn">戻る</button>
                </form>

            </div>
        </main>

        <a th:href="@{/password/reset}">パスワードを忘れた方はこちら</a>

    </div>
</body>

</html>