<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>パスワードの再設定</title>
    <link rel="stylesheet" th:href="@{/css/password.css}">
    <script th:src="@{/js/post.js}" defer></script>
</head>

<body>
    <div id="wrapper">

        <header>
            <h1 th:unless="${message}">パスワード再設定のご案内メールをお送りします。<br>
                メールアドレスを入力してください。</h1>

            <p th:if="${message}" class="message" th:text="${message}"></p>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/password/reset}" th:object="${passwordResetForm}" method="post">

                    <div class="form-center">
                        <label for="email" class="disp-block">メールアドレス</label>
                        <input id="email" type="text" th:field="*{email}" placeholder="star-4649@yozora.com">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                    </div>

                    <div class="form-center">
                        <span th:text="${error}" class="error"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="パスワードを再設定" class="btn">
                    </div>
                </form>

                <!-- キャンセルボタン -->
                <form th:action="@{/back}" method="post" class="form-btn">
                    <input type="hidden" id="ret" name="ret" value="">
                    <button type="submit" class="back-btn">キャンセル</button>
                </form>

            </div>
        </main>
    </div>
</body>

</html>