<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>パスワードの再設定</title>
    <link rel="stylesheet" th:href="@{/css/password.css}">
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>新しいパスワードを入力してください。</h1>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/password/reset/confirm}" th:object="${passwordResetForm}" method="post">

                    <input type="hidden" th:field="*{token}"></input>

                    <div class="form-center">
                        <label for="password" class="disp-block">新しいパスワード</label>
                        <input type="password" id="password" th:field="*{password}">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                    </div>


                    <div class="form-center">
                        <label for="confirmPassword" class="disp-block">確認用パスワード</label>
                        <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                            class="error"></span>
                    </div>

                    <div class="form-center">
                        <span th:text="${error}" class="error"></span>
                    </div>
                    <div class="form-btn">
                        <input type="submit" value="更新" class="btn">
                    </div>

                </form>

            </div>
        </main>

        <a th:href="@{/login}">ログイン画面はこちら</a>

    </div>
</body>

</html>