<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>パスワード変更</title>
    <link rel="stylesheet" th:href="@{/css/password_edit.css}">
</head>

<body>
    <main>
        <header>
            <h1>パスワード変更</h1>
        </header>

        <section class="form-section">
            <form th:action="@{/password_edit}" th:object="${passwordEditForm}" method="post">
                <div class="form-group">
                    <label for="currentPassword">現在のパスワード</label>
                    <input type="password" id="currentPassword" th:field="*{currentPassword}" placeholder="現在のパスワード" />
                    <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
                        class="errors"></span>
                </div>

                <div class="form-group">
                    <label for="newPassword">新しいパスワード</label>
                    <input type="password" id="newPassword" th:field="*{newPassword}" placeholder="新しいパスワード" />
                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="errors"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="変更" class="btn">
                </div>

                <div class="form-group">
                    <span th:text="${error}" class="errors"></span>
                    <span th:text="${message}" class="message"></span>
                </div>
            </form>

            <form th:action="@{/mypage}" method="get">
                <div class="form-group">
                    <input type="submit" value="戻る" class="btn">
                </div>
            </form>
        </section>
    </main>
</body>

</html>