<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Yozoraスポット</title>
    <link rel="stylesheet" th:href="@{/css/top.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>

<body>
    <!-- 地図表示領域 -->
    <main id="map-container">
        <!-- 検索バー＋地図切替ボタン -->
        <div id="map-controls">
            <div class="left-ui">
                <div class="map-toggle">
                    <button onclick="setMapType('roadmap')">地図</button>
                    <button onclick="setMapType('hybrid')">航空写真</button>
                </div>
            </div>
            <div class="right-ui">
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="検索" autocomplete="off">
                    <ul id="search-suggestions" class="hidden"></ul>
                </div>
            </div>
        </div>

        <!-- GoogleMap -->
        <div id="map"></div>
    </main>

    <!-- フッター -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- 投稿データのJS埋め込み -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        let posts = /*[[${postList}]]*/[];
        /*]]>*/
    </script>

    <!-- 外部JS -->
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/post.js}"></script>


    <!-- APIを読み込み　-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqURmvn6hJLiRn1-eqrGC5aoSdXHW-Yg&callback=initMap"
        async defer></script>
</body>

</html>