<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Yozoraスポット</title>
    <link rel="stylesheet" th:href="@{/css/top.css}">
</head>

<body>
    <main>
        <!-- 検索バー -->
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="検索" autocomplete="off">
            <ul id="search-suggestions" class="hidden"></ul>
        </div>

        <!-- Google Map表示 -->
        <div id="map" style="height: 500px; width: 100%;"></div>
    </main>

    <footer>
        <nav class="footer-nav">
            <a th:href="@{/top}">TOP</a>
            <a th:href="@{/scenry}">景色一覧</a>
            <a th:href="@{/mypage}">マイページ</a>
        </nav>
    </footer>

    <!-- 投稿データのJS埋め込み -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        let posts = /*[[${postList}]]*/[];
        /*]]>*/
    </script>

    <!-- 外部JS -->
    <script th:src="@{/js/script.js}"></script>

    <!-- APIを読み込み　-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsqURmvn6hJLiRn1-eqrGC5aoSdXHW-Yg&callback=initMap"
        async defer></script>

</body>

</html>