<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>新規登録</title>
    <link th:href="@{/css/user_edit.css}" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>新規登録して星いな～</h1>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/userRegist}" th:object="${userRegistForm}" method="post">

                    <div class="form-center">
                        <label for="userName" class="disp-block">ユーザーネーム</label>
                        <input id="userName" size="30" th:field="*{userName}" placeholder="Yozora">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></span>
                    </div>

                    <div class="form-center">
                        <label for="email" class="disp-block">メールアドレス</label>
                        <input id="email" size="30" th:field="*{email}" placeholder="star-4649@yozora.com">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                    </div>

                    <div class="form-center">
                        <label for="password" class="disp-block">パスワード</label>
                        <input type="password" size="30" th:field="*{password}"
                            placeholder="パスワードは半角英数字記号のみの8文字以上で入力してください">

                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="登録" class="btn">
                    </div>
                    <div class="form-center">
                        <span th:text="${error}" class="error"></span>
                    </div>

                </form>

                <span id="error-msg" th:data-error="${error}" style="display:none;"></span>

                <form th:action="@{/login}">
                    <div class="form-btn">
                        <input type="submit" value="戻る" class="back-btn">
                    </div>
                </form>

            </div>
        </main>
    </div>
</body>

</html>