<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>プロフィール編集</title>
    <link th:href="@{/css/user_edit.css}" rel="stylesheet">
    <script th:src="@{/js/post.js}" defer></script>
</head>

<body>
    <div id="wrapper">

        <header>
            <h1>プロフィールを編集して星いな～</h1>
        </header>

        <main>
            <div id="form-area">
                <form th:action="@{/userEdit}" th:object="${userEditForm}" method="post" enctype="multipart/form-data">

                    <label for="imageInput">
                        <img id="profilePreview" th:src="@{${userEditForm.profileImage}}" alt="プロフィール画像"
                            class="profile-image">
                    </label>

                    <input type="file" id="imageInput" th:field="*{image}" accept="image/*" style="display: none;">
                    <input type="hidden" th:field="*{profileImage}"></input>
                    <div class="form-validate">
                        <span th:if="${imageError}" th:text="${imageError}" class="error"></span>
                    </div>

                    <div class="form-center">
                        <label for="userName" class="disp-block">ユーザーネーム</label>
                        <input id="userName" type="text" th:field="*{userName}" placeholder="Yozora">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></span>
                    </div>

                    <div class="form-center">
                        <label for="email" class="disp-block">メールアドレス</label>
                        <input id="email" type="text" th:field="*{email}" placeholder="star-4649@yozora.com">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="保存" class="btn">
                    </div>
                    <div class="form-center">
                        <span th:text="${error}" class="error"></span>
                    </div>

                    <input type="hidden" th:field="*{id}"></input>

                </form>

                <span id="error-msg" th:data-error="${error}" style="display:none;"></span>

                <form th:action="@{/mypage}">
                    <div class="form-btn">
                        <input type="submit" value="戻る" class="back-btn">
                    </div>
                </form>

            </div>
        </main>

        <footer>
            <a th:href="@{/password_edit}">パスワード変更はこちら</a>

            <form th:action="@{/userDelete}" method="post" onsubmit="return confirm('本当にアカウントを削除しますか？');">
                <button type="submit" class="link-button">アカウント削除はこちら</button>
            </form>

        </footer>
    </div>

</body>

</html>