<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>プロフィール編集</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <header>
        <div class="form-header">
            <h1>プロフィールを編集して星いな～</h1>
        </div>
    </header>

    <div id="wrapper">
        <main>
            <div id="form-area">
                <form th:action="@{/userEdit}" th:object="${userEditForm}" method="post" enctype="multipart/form-data">

                    <label for="imageInput">
                        <img id="profilePreview" th:src="@{${userEditForm.profileImage}}" alt="プロフィール画像"
                            class="profile-image">
                    </label>
                    <input type="file" id="imageInput" th:field="*{image}" accept="image/*" style="display: none;">
                    <input type="hidden" th:field="*{profileImage}"></input>

                    <div class="form-center">
                        <label for="userName" class="form-label">ユーザーネーム:</label>
                        <input id="userName" th:field="*{userName}" placeholder="Yozora">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="errors"></span>
                    </div>

                    <div class="form-center">
                        <label for="email" class="form-label">メールアドレス:</label>
                        <input id="email" size="30" th:field="*{email}" placeholder="star-4649@yozora.com">
                    </div>
                    <div class="form-validate">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors"></span>
                    </div>

                    <div class="form-btn">
                        <input type="submit" value="保存" class="btn">
                    </div>
                    <div class="form-center">
                        <span th:text="${error}" class="errors"></span>
                    </div>

                    <input type="hidden" th:field="*{id}"></input>

                </form>

                <span id="error-msg" th:data-error="${error}" style="display:none;"></span>

                <form th:action="@{/mypage}">
                    <div class="form-btn">
                        <input type="submit" value="戻る" class="btn">
                    </div>
                </form>


            </div>
        </main>

        <footer>
            <form th:action="@{/userDelete}" method="post" onsubmit="return confirm('本当にアカウントを削除しますか？');">
                <button type="submit" class="link-button">退会</button>
            </form>

            <a th:href="@{/password_edit}">パスワード変更はこちら</a>
        </footer>
    </div>

</body>

</html>